{# Settings Layout with Sidebar #}

{% extends "_layouts/cp" %}

{% do view.registerTranslations('super-favourite', [
    'General Settings',
    'Collection Fields',
    'Favourite Item Fields',
]) %}

{% set title = title ?? "Settings"|t('super-favourite') %}
{# Set the main plugin nav item to 'settings' #}
{% set selectedSubnavItem = 'settings' %}

{% set crumbs = [
    { label: "Super Favourite"|t('super-favourite'), url: cpUrl('super-favourite') },
    { label: "Settings"|t('super-favourite'), url: cpUrl('super-favourite/settings/general') },
] %}

{# Sidebar navigation items - All settings are project config #}
{% set sidebar %}
    <nav>
        <ul>
            <li>
                <a href="{{ url('super-favourite/settings/general') }}"
                   {% if selectedSettingsTab == 'general' %}class="sel"{% endif %}>
                    {{ "General Settings"|t('super-favourite') }}
                </a>
            </li>
            <li>
                <a href="{{ url('super-favourite/settings/collection-fields') }}"
                   {% if selectedSettingsTab == 'collection-fields' %}class="sel"{% endif %}>
                    {{ "Collection Fields"|t('super-favourite') }}
                </a>
            </li>
            <li>
                <a href="{{ url('super-favourite/settings/favourite-fields') }}"
                   {% if selectedSettingsTab == 'favourite-fields' %}class="sel"{% endif %}>
                    {{ "Favourite Item Fields"|t('super-favourite') }}
                </a>
            </li>
        </ul>
    </nav>
{% endset %}

