{# Collection Field Layout Settings Template #}

{% extends "super-favourite/settings/_layout" %}

{% import "_includes/forms" as forms %}

{% set title = "Settings"|t('super-favourite') %}
{% set readOnly = not craft.app.config.general.allowAdminChanges %}
{% set fullPageForm = not readOnly %}
{% set selectedSettingsTab = 'collection-fields' %}

{% if readOnly %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% block content %}
    {% if not readOnly %}
    {{ actionInput('super-favourite/settings/save-collection-field-layout') }}
    {{ redirectInput('super-favourite/settings/collection-fields') }}
    {% endif %}

    <h2>{{ "Collection Field Layout"|t('super-favourite') }}</h2>
    <p>{{ "Configure the fields that will be available for all collections."|t('super-favourite') }}</p>

    {% namespace 'fieldLayout' %}
        {{ forms.fieldLayoutDesignerField({
            fieldLayout: fieldLayout,
            withCardViewDesigner: true,
            disabled: readOnly,
        }) }}
    {% endnamespace %}

{% endblock %}

