{# Edit Collection Template #}

{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = (collection.id ? collection.name : "New Collection"|t('super-favourite')) %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'super-favourite/collections/{id}' %}
{% set selectedTab = 'collection-details' %}
{% set selectedSubnavItem = 'collections' %}

{% block content %}
    <div id="collection-details">
        {{ actionInput('super-favourite/collection/save') }}
        {{ redirectInput('super-favourite/collections') }}

        {% if collection.id %}
            {{ hiddenInput('collectionId', collection.id) }}
        {% endif %}

        {{ forms.textField({
            first: true,
            label: "Name"|t('super-favourite'),
            instructions: "The name of this collection"|t('super-favourite'),
            id: 'name',
            name: 'name',
            value: collection.name,
            errors: collection.getErrors('name'),
            autofocus: true,
            required: true
        }) }}

        {{ forms.textField({
            label: "Handle"|t('super-favourite'),
            instructions: "How you'll refer to this collection in templates"|t('super-favourite'),
            id: 'handle',
            name: 'handle',
            class: 'code ltr',
            autocomplete: false,
            value: collection.handle,
            errors: collection.getErrors('handle'),
            required: true
        }) }}

        {{ forms.textareaField({
            label: "Description"|t('super-favourite'),
            instructions: "An optional description for this collection"|t('super-favourite'),
            id: 'description',
            name: 'description',
            value: collection.description,
            errors: collection.getErrors('description'),
            rows: 3
        }) }}

        {{ forms.lightswitchField({
            label: "Default Collection"|t('super-favourite'),
            instructions: "Whether this is a default collection for new favourites. Default collections are always global and cannot be assigned to users."|t('super-favourite'),
            id: 'isDefault',
            name: 'isDefault',
            value: 1,
            on: collection.isDefault,
            errors: collection.getErrors('isDefault')
        }) }}

        <div id="user-field-wrapper">
            {{ forms.elementSelectField({
                label: "Assign to User"|t('super-favourite'),
                instructions: "Assign this collection to a specific user. Leave empty for global collection."|t('super-favourite'),
                id: 'userId',
                name: 'userId',
                elementType: 'craft\\elements\\User',
                limit: 1,
                elements: collection.userId ? [collection.getUser()] : [],
                errors: collection.getErrors('userId')
            }) }}
        </div>

        <hr>
        {{ forms.checkboxSelectField({
            label: "Allowed Element Types"|t('super-favourite'),
            instructions: "Select which element types can be added to this collection."|t('super-favourite'),
            id: 'allowedElementTypes',
            name: 'allowedElementTypes',
            options: elementTypeOptions,
            values: collection.allowedElementTypes,
            showAllOption: true,
            errors: collection.getErrors('allowedElementTypes')
        }) }}
    </div>{# end content tab #}

    {# Custom Fields Tabs #}
    {% set fieldLayout = collection.getFieldLayout() %}
    {% for tab in fieldLayout.getTabs() %}
        <div id="{{ tab.getHtmlId() }}" class="hidden">
            {% for layoutElement in tab.getElements() %}
                {% if layoutElement is instance of('craft\\fieldlayoutelements\\CustomField') %}
                    {{ layoutElement.formHtml(collection)|raw }}
                {% else %}
                    {{ layoutElement.formHtml()|raw }}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}

{% js %}
// Initialize tabs
new Craft.Tabs($('#tabs'));
{% endjs %}

{% if not collection.handle %}
    {% js %}
        new Craft.SlugGenerator('#name', '#handle');
    {% endjs %}
{% endif %}

{% js %}
    // Hide user field when default collection is enabled
    (function() {
        var $userFieldWrapper = $('#user-field-wrapper');
        var $userField = $('#userId');
        var $defaultSwitch = $('#isDefault');
        var $defaultSwitchContainer = $defaultSwitch.closest('.lightswitch');

        function clearUserField() {
            // Find and clear the element select
            var $elementSelect = $userField.closest('.elementselect');
            if ($elementSelect.length) {
                var elementSelect = $elementSelect.data('elementSelect');
                if (elementSelect && typeof elementSelect.removeAllElements === 'function') {
                    elementSelect.removeAllElements();
                }
            }

            // Also clear any hidden inputs with userId name
            $('input[name="userId[]"]').remove();
            $userField.val('');
        }

        function toggleUserField() {
            var isDefault = $defaultSwitch.prop('checked') || $defaultSwitchContainer.hasClass('on');

            if (isDefault) {
                // Hide user field
                $userFieldWrapper.hide();

                // Clear selected user
                clearUserField();
            } else {
                // Show user field
                $userFieldWrapper.show();
            }
        }

        // Wait for Craft to initialize, then check on load
        setTimeout(function() {
            toggleUserField();
        }, 100);

        // Listen to clicks on the lightswitch container
        $defaultSwitchContainer.on('click', function() {
            setTimeout(function() {
                toggleUserField();
            }, 50);
        });

        // Also listen to change on the checkbox itself
        $defaultSwitch.on('change', function() {
            setTimeout(function() {
                toggleUserField();
            }, 50);
        });
    })();
{% endjs %}

{% block details %}
    {% if not isNew %}
        <div class="meta">
            {{ forms.lightswitchField({
                label: "Enabled"|t('app'),
                id: 'enabled',
                name: 'enabled',
                on: collection.enabled
            }) }}
        </div>

        <hr>

        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ collection.dateCreated|date('short') }} {{ collection.dateCreated|time('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ collection.dateUpdated|date('short') }} {{ collection.dateUpdated|time('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

